@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Перше домашнє завдання з ASP";
}

<h3>
    <a href="/Home/HomeWorkAspOne">Задача №1. Який день року.</a>
</h3>
<h3>
    <a href="/Home/HomeWorkAspTaskTwo">Задача №2. Letter of the English.</a>
</h3>
<h3>
    <a href="/Home/HomeWorkAspOne">Задача №3. ...</a>
</h3>
<h3>
    <a href="/Home/HomeWorkAspOne">Задача №4. ....</a>
</h3>
<h3>
    <a href="/Home/HomeWorkAspOne">Задача №5. .....</a>
</h3>