@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Перше домашнє завдання з ASP";
}

<h3>
    Задача №1. <a href="/Home/HomeWorkAspOne">Який день року</a>.
</h3>
<h3>
    Задача №2. <a href="/Home/HomeWorkAspTaskTwo">Letter of the English</a>.
</h3>
<h3>
    Задача №3. За умовами задачі вхід до ресторану у верхньому меню сторінки. (але можна і <a href="/Home/BruklinLend">тут</a>).
</h3>
<h3>
    Задача №4. <a href="/Home/HomeWorkAspTaskFour">Випадковий вибір ресторанів.</a>
</h3>
<h3>
    Задача №5. За умовами задачі вхід до переліку країн у верхньому меню сторінки. (але можна і <a href="/Home/Cuntry">тут</a>).
</h3>