@{
    ViewData["Title"] = "BRUKLINLEND";
}
<h1>@ViewData["Title"]</h1>
<h2 class="align-items-center">(виконання задачі №3)</h2>
<p>
    Семейный ресторан
    Ресторан сучасної кухні🍴
    📍м.Добропілля, вул.Банкова 45,
    ТЦ Орбіта, 2 поверх
</p>
<div class="vidstup"></div>
<h3>
    <a href="/Home/AllHomeWorkAspOne">Повернутися до вибору задач</a>
</h3>