@{
    ViewData["Title"] = "Db";
}
<h1 class="display-4">Робота з базами даних</h1>
<p>
    Бази даних по відношенню до сервера сайту (web-server з сайтом) можна
    поділити на локальні та віддалені. Локальні розміщуються на тому ж ресурсі,
    віддалені - на іншому. Робота з локальними БД простіше налаштовуються і є
    більш швидкою, але не дає змоги переносити веб-сервер або публікувати сайт
    на сторонньому хостінгу.
</p>
<p>
    В ASP, як і у .NET поширена практика роботи з БД засобами EntityFramework.
    Для його налаштування встановлюємо додаткові модулі (NuGet)
</p>
<ul>
    <li>Microsoft.EntityFrameworkCore - ядро фреймворка</li>
    <li>Microsoft.EntityFrameworkCore.Tools - засоби для командного рядка</li>
    <li>Pomelo.EntityFrameworkCore.MySql - "драйвери" для роботи з MySql</li>
</ul>
<h2>Підключення</h2>
<p>
    Конфігурація. Паролі до віддалених БД не можна передавати у відкриті репозиторії.
    Зокрема, PlanetScale автоматично скасовує пароль, якщо знаходить його у вікритому
    репозиторії.<br />
    Для запобігання цьому створюється окремий файл конфігурації, який
    вилучається з репозиторію.
</p>
<p>
    При роботі кіллькох проєктів з однією базою даних можуть виникати конфлікти, 
    коли різні проекти вживають однакові імена для своїх таблиць.
    Для їх розділення застосовується принцип схем, якщо їх підтримує БД, або
    префіксний принцип - коли до імені таблиці додається префікс, що характеризує
    проект.
</p>
<p>
    При роботі з Ентітітфреймворк слід не забути що він додатково використовує
    таблиці з історією міграції для якої теж треба вказати схему.
</p>
<h2>Міграції</h2>

<p>
    Міграції - схожі на коміти гітхаба ресурси, які дозволяють повертатись до
    попередніх версій бази даних або навпаки оновлювати її. Післяопису і
    налаштування контексту даних а також підключення міграції створюються
    засобами командного рядку (Package Manager Console) [Tools -> NuGet PM -> PM Console].<br />
    <code>Add-Migration Initial</code><br />
    Після успішного створення міграцї буде відкрите вікно з її кодом.
    Увипадку з обмеженим доступом треб виконати інструкцію <code>AlterDatabase</code>
    Після цього застосовуємо міграцію, у PM консоль вводимокоманду
    <code>Update-Database</code>
</p>
<p></p>
<p></p>
<p></p>
<p></p>
<ul>
    <li></li>
</ul>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<code></code>
<code></code>
<b></b>
<b></b>
<b></b>
<br />
<br />
<br />