@model ASP_SPD_222.Models.Home.HomeWorkAspTaskFourViewModel

@{
    ViewData["Title"] = "HomeWorkAspTaskFour";
}
<h1 class="display-4">Congratulations!</h1>
<h2 class="display-4">Сьогодні для Вас найкращій ресторан - це <br /> <b><i>@Model.NameTavern</i></b></h2>
<div class="vidstup"></div>
<h3>
    <a href="/Home/AllHomeWorkAspOne">Повернутися до вибору задач</a>
</h3>
