@model ASP_SPD_222.Models.Home.HomeWorkAspTaskTwoViewModel

@{
    ViewData["Title"] = "HomeWorkAspTaskTwo";
}
<h1 class="display-4">Congratulations!</h1>
<h2 class="display-4">Наразі Ваша літера - @Model.EnglishLetter</h2>