@{
    ViewData["Title"] = "Вступ";
}
<h1>@ViewData["Title"]</h1>

<h3 class="display-4">Структура проекту</h3>

<p>Проект складається з кількох структурних части.
    wwwroot - корень "сторінки" - те, що безпосередньо до
    Controllers - класи управління групами сторінок.
    За замовчуванням, в ASP прийнята маршрутизація
    Один контролер обслуговує декілька сторінок шляхом вибору методу за іменем, яке збігаєть з частиною маршруту "Action"
    Views - представлення. Також групуються за іменами контролерів (папки з їх іменами). Імена самих представлень
    відповідають методам ("Action") і також автоматично визначаються інструкціями return
</p>
<p>
    Наприклад додаємо ще одну сторінку
    1. У Хоум контреллер створюємо новий метод назва якого відповідає маршруту Разер а сигнатура
    з іншими методами
    2. Створюємо представлення у папці вьюсхоум з такою ж
    назвою.
    3. розміщуємо посилання на цю сторінку у інтерфейсі проекту.
</p>
